page-approval {
    .box2{

        width:20px;
        
        height:25px;
        
        margin: 30px auto;
        
        border: 1px solid #e4007e;
        
        text-align: center;
        
        line-height: 20px;
        font-size: 14px; 
        background: #eb5d29; 
        color: white;
        font-weight: bold;
        
 
        
       border-radius: 50%;;
        
        }
        .searchbar-md .searchbar-md-cancel {
            left: 10px;
            top: 0;
            margin: 0;
            display: block; 
            width: 21px;
            height: 100%;
        }
}
