<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">任务延期申请</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <ion-item *ngIf="isShowFooter">
        <ion-label class="list-name">当前环节：</ion-label><ion-label class="list-wrap" text-wrap>{{taskName}}</ion-label>   
    </ion-item>
    <ion-item>
        <ion-label class="list-name">任务单名称:</ion-label><ion-label class="list-wrap" text-wrap>{{item.taskName}}</ion-label> 
    </ion-item>
    <ion-item>
        <ion-label class="list-name">下发日期:</ion-label><ion-label class="list-wrap" text-wrap>{{item.issuedDate |date:'yyyy-MM-dd'}}</ion-label> 
    </ion-item>
    <ion-item>
      <ion-label class="list-name">要求完成日期:</ion-label><ion-label class="list-wrap" text-wrap>{{item.applyBeforeDate|date:'yyyy-MM-dd'}}</ion-label> 
    </ion-item>
    <ion-item>
      <ion-label class="list-name">延期后日期:</ion-label><ion-label class="list-wrap" text-wrap>{{item.applyAfterDate|date:'yyyy-MM-dd'}}</ion-label>   
    </ion-item>
    <ion-item>
      <ion-label class="list-name">延期原因:</ion-label><ion-label class="list-wrap" text-wrap>{{item.extensionReason}}</ion-label>   
    </ion-item>
    <ion-item>
      <ion-label >审批意见：</ion-label>
      <ion-textarea  [(ngModel)]="opinion" readonly="{{isShowFooter==false}}"></ion-textarea>
    </ion-item>

    
    <div class="liucheng">
      <p>流程信息</p>
      
      <div id="history">
  
      <div id="content">
  
        <ul class="list">
  
          <li *ngFor="let item of historicItems">
  
            <div class="liwrap">
  
              <div class="lileft">
  
                <div class="date">
  
                  <span class="year">{{item.endTime| date:'yyyy-MM-dd'}}</span>
  
                  <span class="md">{{item.endTime| date:'HH:mm'}}</span>
  
                </div>
  
              </div>
  
              <div class="point"><b></b></div>
  
              <div class="liright">
  
                <div class="hisct colorr">{{item.activityName}}—{{item.assigneeName}}</div>
                <div class="hisct colorr">审批意见：{{item.comment}}</div>
              </div>
  
            </div>
  
          </li>
   
  
        </ul>
  
      </div>
  
    </div>
    </div>
    <div style="height: 30px; width: 100%;">&nbsp;</div>
    <footer style="position: fixed" *ngIf="isShowFooter">
      <button class="bohui" (click)="approve('no')">驳回</button>
      <button  class="tongyi" (click)="approve('yes')">同意</button>
     </footer>
</ion-content>
