page-sign-for-pc {
    signature-pad {
        canvas {
          border: dashed 1px #cccccc;
          width: 100%; height: 200px;
        }
      }

      footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        background: #fff;
        padding: 0.4rem 0;
        border-top: 1px solid #f0f0f0;
    }
    .bohui{
        float: left;
        margin-left: 3%;
        width: 45%;
        height: auto;
        padding: 0.8rem 0;
        text-align: center;
        color: #4482e0;
        border: 1px solid #4482E0;
        border-radius: 5px;
        font-size: 1.4rem;
    }
    .tongyi{
        float: right;
        margin-right: 3%;
        width: 45%;
        height: auto;
        padding: 0.8rem 0;
        text-align: center;
        color: #fff;
        background: #4482e0;
        border: 1px solid #4482E0;
        border-radius: 5px;
        font-size: 1.4rem;
    }
}
